{% extends 'watchman/base.html' %}
{% load static %}
<html lang="en">
    <head>
        {% block title %}
        <title>Visitors List - Digital Society</title>
        {% endblock %}
                
        {% block css %}  
        <link rel="stylesheet" href="{% static 'chairman\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\plugins\jquery-datatable\dataTables.bootstrap4.min.css' %}">
                <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'chairman\assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'chairman\assets\css\color_skins.css' %}">
        {% endblock %}
            </head>
        {% block content %}
        <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Visitors List <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'w_index' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                                                            <li class="breadcrumb-item">Visitor</li>
                                                                                        <li class="breadcrumb-item active">Visitors List</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Visitors</strong> List</h2>
                    <ul class="header-dropdown">
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Visited Flat No</th>
                                    <th>Visitor's Name</th>
                                    <th>Mobile No</th>
                                    <th>Date</th>
                                    <th>Time</th>                                            
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            {% for i in context.visitorsData %}
                            <tbody>
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.v_homeno}}</td>
                                    <td>{{i.v_name}}</td>
                                    <td>{{i.v_mobile_no}}</td>
                                    <td>{{i.v_date}}</td>
                                    <td>{{i.v_time}}</td>
                                    <td>{{i.reason}}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
        </section>
        {% endblock %}
                <!-- Scripts -->
    <script src="{% static 'chairman\assets\bundles\libscripts.bundle.js' %}"></script>    
    <script src="{% static 'chairman\assets\bundles\vendorscripts.bundle.js' %}"></script>

    <script src="{% static 'chairman\assets\bundles\mainscripts.bundle.js' %}"></script>
    <script src="{% static 'chairman\assets\bundles\datatablescripts.bundle.js' %}"></script>
    <script src="{% static 'chairman\assets\js\pages\tables\jquery-datatable.js' %}"></script>
				<!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>